<footer class="footer footer-horizontal footer-center bg-primary text-primary-content p-10">
    <aside>
        <img class="h-10" src="{{ asset('images/logo.svg') }}" alt="Gearloop Logo">
        <p class="font-bold">
            Make with
            <br />
            ❤️
        </p>
        <p>Copyright © 2025 - All right reserved</p>
    </aside>
    <nav>
        <div class="grid grid-flow-col gap-4">
            <a class="link " href="https://github.com/lunaytik" target="_blank" referrerpolicy="no-referrer">
                {{ ux_icon('lucide:github', {'class': 'size-6 hover:text-white/60'}) }}
            </a>
            <a class="link " href="#" referrerpolicy="no-referrer">
                {{ ux_icon('ri:linkedin-fill', {'class': 'size-6 hover:text-white/60'}) }}
            </a>
            <a class="link " href="#" referrerpolicy="no-referrer">
                {{ ux_icon('ri:youtube-fill', {'class': 'size-6 hover:text-white/60'}) }}
            </a>
        </div>
    </nav>
</footer>
