{% extends '/base.html.twig' %}

{% block title %}Settings - Change Password{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold">Change Password</h1>

    {{ include('user/settings/_form.html.twig', {'button_label': 'Update password'}) }}

    <a class="btn btn-neutral" href="{{ path('app_profile_show') }}">Back to Profile</a>
{% endblock %}
