{% extends 'base.html.twig' %}

{% block title %}Item - New{% endblock %}

{% block body %}
    <div>
        <h1 class="text-3xl font-bold">Create new Item</h1>
        <p class="text-base-content/70">Your item will only be available after validation</p>
    </div>
    {{ include('item/_form.html.twig') }}
    <a class="btn btn-neutral my-4" href="{{ path('app_item_index') }}">Back to list</a>
{% endblock %}
