{% extends 'base.html.twig' %}

{% block title %}Item - New{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold">Create new Item</h1>
    {{ include('item/_form.html.twig') }}
    <a class="btn btn-neutral my-4" href="{{ path('app_item_index') }}">Back to list</a>
{% endblock %}
